# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build output
dist/
build/

# Dependency directories
bower_components/
